## {{{1 os
.DS_Store
*.pem
## }}}1

## {{{1 ide
.idea
.vscode
## }}}1

# {{{1 Testing
/coverage
# }}}1

## {{{1 Node/next.js
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions
# }}}1

# {{{1 Next
/.next/
/out/
# }}}1

# {{{1 Production
/build
# }}}1

# {{{1 Vercel
.vercel
# }}}1

# {{{1 TS
*.tsbuildinfo
next-env.d.ts
## }}}1

## {{{1 logs/debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
## }}}1

## {{{1 env files
.env*
## }}}1

## {{{1 archives
*.7z
*.bz2
*.bzip
*.bzip2
*.cab
*.gz
*.gzip
*.jar
*.lzma
*.rar
*.tar.gz
*.tgz
*.xar
*.xz
*.zip

*.iso
*.dmg

*.deb
*.egg
*.gem
*.msi
*.msm
*.msp
*.rpm
*.txz
*.xpi
## }}}1
