name: Assign Management
run-name: >-
    ${{ 
        github.event_name == 'pull_request' 
        && format('Manage Assign for PR #{0} -> {1}', github.event.number, github.event.pull_request.title) 
    }}

on:
    pull_request:
        types: [opened, reopened]

permissions:
    statuses: read
    contents: read
    issues: write
    pull-requests: write

jobs:
    assign-management:
        name: Assign Management - autoadd

        runs-on: ubuntu-latest

        steps:
        - uses: kentaro-m/auto-assign-action@v2.0.0
          with:
            configuration-path: '.github/config.assign-autoadd.yml'