name: Assignee and Reviewers Management
run-name: >-
    ${{ 
        github.event_name == 'pull_request' 
        && format('Manage Assignee and Reviewers for PR #{0} -> {1}', github.event.number, github.event.pull_request.title) 
    }}

on:
    pull_request:
        types: [opened, reopened]

permissions:
    statuses: read
    contents: read
    issues: write
    pull-requests: write

jobs:
    assign-and-reviewers-management:
        name: Assignee and Reviewers Management - autoadd

        runs-on: ubuntu-latest

        steps:
        - uses: kentaro-m/auto-assign-action@v2.0.0
          with:
            configuration-path: '.github/config.assignee-and-reviewers-autoadd.yml'