name: Docker Multi-Arch Build
run-name: >-
    ${{ 
        github.event_name == 'push' 
        && format('Docker build for Merge -> {0}', github.event.head_commit.message) 
    }}

permissions:
    contents: read
    packages: write

on:
    push:
        branches: [ "main" ]

jobs:
    docker-build:
        name: Docker multi-arch build
        runs-on: ubuntu-latest

        steps:
        - name: Checkout repository
          uses: actions/checkout@v5
          with:
            fetch-depth: 0

        - name: Set up QEMU
          uses: docker/setup-qemu-action@v3
        
        - name: Set up Docker Buildx
          uses: docker/setup-buildx-action@v3

        - name: Set up Version
          id: version
          uses: PaulHatch/semantic-version@v5.4.0
          with:
            tag_prefix: "v"
            major_pattern: "(MAJOR)"
            minor_pattern: "(MINOR)"
            version_format: "${major}.${minor}.${increment}" 

        - name: Set up Docker Metadata
          id: metadata
          uses: docker/metadata-action@v5
          with:
            images: |
              name=ghcr.io/${{ github.repository }}
            flavor: |
              latest=true
            tags: |
              type=raw,value=${{ steps.version.outputs.version }}

        - name: Log in to GHCR
          uses: docker/login-action@v3
          with:
              registry: ghcr.io
              username: ${{ github.repository_owner }}
              password: ${{ secrets.GITHUB_TOKEN }}

        - name: Build and push for main
          if: github.event_name == 'push' && github.ref == 'refs/heads/main'
          uses: docker/build-push-action@v6
          with:
            context: .
            platforms: linux/amd64,linux/arm64
            push: true
            tags: ghcr.io/${{ github.repository }}:latest
            cache-from: type=gha
            cache-to: type=gha,mode=max
