name: Release Drafter
run-name: >-
    ${{ 
        github.event_name == 'pull_request' 
        && format('Manage Release Draft for PR #{0} -> {1}', github.event.number, github.event.pull_request.title) 
        || 
        github.event_name == 'push'
        && format('Manage Release Draft for Merge -> {0}', github.event.head_commit.message) 
    }}

on:
    push:
        branches: [ "main" ]
    pull_request:
        types: [opened, reopened, synchronize]

permissions:
    contents: read

jobs:
    release_draft:
        name: Release Draft - autoadd
        permissions:
            contents: write
            pull-requests: write

        runs-on: ubuntu-latest

        steps:
        - uses: release-drafter/release-drafter@v6
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            config-name: config.release-draft.yml
            disable-autolabeler: true